.footer {
    background-color: #EDF6E5;
    color: red;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
     /* border-radius: 0px;
     box-shadow: inset 0px 0px 18px #d0d0d0,
     inset -7px -7px 18px #f0f0f0; */
     
}

.second-section {
    padding-top: 45px;
}

.list-items ul li {
    list-style-type: none;
    text-align: left;
    padding: 5px;
}

.list-items ul li a {
    text-decoration: none;
    color: black;
}

.list-items ul li a:hover {
    color: #00827b;
}

.contact-us ul li {
     color: black;
    list-style-type: none;
    text-align: center;
    padding: 5px;
}
.contact-us ul li:hover {
     color: #00827b;
}
.subscribe {
    text-align: right;
    padding: 5px;
}

.copyright-text {
    color: black;
    font-size: 10px;
    margin-top: 10px;
}

/* Mobile device */
@media only screen and (max-width:688px) {
    .subscribe {
        display: none;
    }
}