.aboutus-intro-section {
    background-color: #00827b;
    height: 40vh;
}
.aboutus-intro-section h1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border: 5px solid #fff;
    letter-spacing: 5px;
}
.about-us{
   line-height: 45px;
}
.about-us h1{
    color: #00827b;
    margin: 10px 0px;
}
.about-us hr{
    width: 30%;
    color: #00827b;
}
.about-us p{
    font-size: 20px;
}
/* Mobile device */
@media only screen and (max-width:688px){
.aboutus-intro-section h1{
     position: relative;
     top: 45%;
}
}