.my-orders-intro-section {
    background-color: #00827b;
    height: 40vh;
}

.my-orders-intro-section h1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border: 5px solid #fff;
    letter-spacing: 5px;
}
.cancel-order-btn{
   padding: 10px 18px;
   border-radius: 5px;
   background-color: #00827b;
   font-size: 20px;
   color: white;
   border: none;
}
/* Mobile device */
@media only screen and (max-width:688px){
    .my-orders-intro-section h1{
        position: relative;
        top: 44%;
    }
}