.services-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.services-section h1 {
    color: red;
}

.services-section hr {
    width: 10%;
    margin: 0 auto 10px auto;
    background-color: red;
}