.placeOrder {
    margin-bottom: -14px;
}

.placeOrder-section {
    background-color: #00827b;
    height: 50vh;
}
.placeOrder-section h1 {
    color: white;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border: 5px solid #fff;
    letter-spacing: 5px;
}
.image-area img {
    border-radius: 10px;
}
.right-order-form input{
    width: 50% !important;
}
#place-order-btn{
    width: 25% !important;
}

@media only screen and (max-width:688px){
    .placeOrder-section h1{
        position: relative;
        top: 45%;
    }
    .left-order-details{
        text-align: left !important;
        margin: 0px !important;
    }
    .image-area {
        margin: 15px 0px !important;
        
    }
    .text-area {
        margin: 0px !important;
        
    }
}