.details {
    margin-bottom: -14px;
}

.details-section {
    background-image: url("https://images.pexels.com/photos/416778/pexels-photo-416778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.details-section h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border: 5px solid #fff;
    letter-spacing: 5px;
}

.container h1 {
    color: red;
}

.container hr {
    width: 10%;
    margin: 0 auto 10px auto;
    background-color: red;
}

.image-area img {

    border-radius: 10px;
}

.detailedinfo {
    font-size: 20px;
    padding: 9px;
    line-height: 40px;
}