.placeOrder {
    margin-bottom: -14px;
}

.placeOrder-section {
    background-image: url("https://images.pexels.com/photos/416778/pexels-photo-416778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.placeOrder-section h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border: 5px solid #fff;
    letter-spacing: 5px;
}
.image-area img {
    border-radius: 10px;
}
.right-order-form input{
    width: 50% !important;
}
#place-order-btn{
    width: 25% !important;
}