.service-card {
    border-radius: 10px;
}

.service-text {
    font-size: 20px;
}

.service-text h2 {
    color: #00827b;
}
#description{
    font-size: 15px;
}
#price{
    font-size: 30px;
}

.booking-btn {
    padding: 10px 18px;
    border-radius: 5px;
    background-color: #00827b;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.booking-btn:hover {
    color: white;
}